body {
  font-family: Times, 'Times New Roman' ;
  color: #2b5380;
  margin: 30px;
  background-color: #e5ecf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("star_pic.png");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-repeat: repeat;
  background-position: right top;
}

h1{
  background: #f7f9fd;
  padding: 20px;
  border-radius: 8px;
}
form {
  max-width: 700px;
  width: 100%;
  background: #f7f9fd;
  padding: 20px;
  border-radius: 8px;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 10px 0 5px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.char-count {
  font-size: 0.9em;
  color: #555;
}

#tooltip {
  position: absolute;
  display: none;
  background: #2b5380;
  color: #fff;
  font-size: 14px;
  padding: 4px;
  border-radius: 5px;
}

#error {
  color: red;
  font-weight: bold;
  margin-top: 15px;
  background-color: #e5ecf9;
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
}

#feedback-display {
  color: #f7f9fd;
  font-style: italic;
  margin-top: 8px;
  background: #2b5380;
  padding: 8px;
  border-radius: 8px;
}